.mainbtn {
    background-color: #B68C5A;
}

.banner{
    background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0) 100%),url(images/banner.png);
   
    height: 550px;
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;
    margin: auto;
}
.banner .banner-content{
    color: white;
    height: 340px;
    width: 650px;
    text-align: center;

}
.banner-content h1{
    font-size: 62px;
    font-weight: 700;
}
.banner-content p{
   font-size: 16px;
   line-height: 26px;
    font-weight: 500;
    color: #E7E7E7;
    

}
.form input{
    height: 60px;
    width: 450px;
    border-radius: 10px;
    border: none;
    padding: 8px;
}
.form Button{
    height: 60px;
    width: 130px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    padding: 8px;
    font-size: 22px;
}


.card img{
    height: 78px;
    width: 75px;
}
.card-title{
 color: #414040;
 font-size: 32px;
}
.card-body{
    color: #707070;
    font-weight: 500;
    letter-spacing: spacing 1px;   
    height: 350px; 

}
.mainCard{
    background: linear-gradient(180deg, #F3F3F3 0%,rgba(243,243,243,0) 100%);
    border: 1px solid #E7E7E7;
    
}





    .accordion-button::after {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    
    }
    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    }



footer .lists ul li{
    list-style: none;
    color: #CFCFCF;
    text-transform: capitalize;
    padding: 5px;
}
footer h3{
    color: #FFFFFF;
    font-size: 24px;
}
footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #CFCFCF;
    padding: 2px;
}
footer .send input{
   
    background-color: #B68C5A;
    background: transparent;
    border: none;
    text-align: center;
   
}

footer .send .email{
    height: 72px;
    width: 250px;
    padding: 5px;
    /* background-color: #FFFFFF; */
    background-color: #2c2c2c;
    border-radius: 8px;
}

footer .send .logo{
    background-color: #B68C5A;
    font-size: 30px;
    padding: 10px;
   
   
    
}
  








@media screen and (max-width: 576px) {
    .banner{
        background-image:url(images/banner.png);
       
        height: 500px;
        width: 380px; 
        align-items: flex-start; 
        margin-left: -30px; 
       
    }
    .banner .form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 50px;
        
    }
    .form input{     
        width: 250px;
        margin: 20px 0;        
    }
    .banner-content h1{
        font-size: 22px;
        text-align: start;
       
        
    }
    .banner-content p{
       width: 400px;        
       text-align: center;
       font-size: 14px;
       margin-left: -10px;
     
     }
     .inneritem .slide-content h2,h3{
        font-size: 16px;
      
       
     }
     .inneritem .slide-content img{
        
      height: 150px;
      width: 150px;
       
     }
     .inneritem .slide-content {
        font-size: 14px;
        line-height: 17px;
      
       
     }
     .faqs .faqimage img{
        height: 500px;
        width: 400px;
        margin: 20px 0;
     }

}

    

