.mainbtn {
    background-color: #B68C5A;
}

.banner{
    background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0) 100%),url(images/banner.png);
   
    height: 550px;
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;
}
.banner .banner-content{
    color: white;
    height: 340px;
    width: 650px;
    text-align: center;

}
.banner-content h1{
    font-size: 62px;
    font-weight: 700;
}
.banner-content p{
   font-size: 16px;
   line-height: 26px;
    font-weight: 500;
    color: #E7E7E7;
    

}
.form input{
    height: 60px;
    width: 450px;
    border-radius: 10px;
    border: none;
    padding: 8px;
}
.form Button{
    height: 60px;
    width: 130px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    padding: 8px;
    font-size: 22px;
}


.card img{
    height: 78px;
    width: 75px;
}
.card-title{
 color: #414040;
 font-size: 32px;
}
.card-body{
    color: #707070;
    font-weight: 500;
    letter-spacing: spacing 1px;   
    height: 350px; 

}
.mainCard{
    background: linear-gradient(180deg, #F3F3F3 0%,rgba(243,243,243,0) 100%);
    border: 1px solid #E7E7E7;
    
}





    .accordion-button::after {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    
    }
    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    }





  









    

/*                 
*/